## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Vaini,TO,75.20,moderate rain,-21.2000,-175.2000,Keleti Beach Resort
1,3,Chandbali,IN,63.50,clear sky,20.7833,86.7667,KABITA HOMES
2,4,Mataram,ID,75.20,broken clouds,-8.5833,116.1167,Hotel Santika Mataram
3,6,Mataura,NZ,58.39,scattered clouds,-46.1927,168.8643,Ellie's Villa
4,7,Castro,BR,65.95,light rain,-24.7911,-50.0119,CHACARA BAILLY

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}&#8457</dd>

</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']=='Ixtapa')]
vacation_end = vacation_df.loc[(vacation_df['City']=='Ixtapa')]
vacation_stop1 = vacation_df.loc[(vacation_df['City']=='Tototlan')]
vacation_stop2 = vacation_df.loc[(vacation_df['City']=='Xico')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City']=='Acapulco')]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
58,97,Ixtapa,MX,77.0,scattered clouds,20.7,-105.2,Container Inn Puerto Vallarta

In [25]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0],vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0],vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0],vacation_stop3['Lng'].to_numpy()[0]

In [31]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figure_layout = {
    'width': '600px',
    'height': '300px'}
fig = gmaps.figure(layout=figure_layout)
mexico_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
                                     travel_mode="DRIVING")
fig.add_layer(mexico_route)
fig

Figure(layout=FigureLayout(height='300px', width='600px'))

In [32]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,97,Ixtapa,MX,77.0,scattered clouds,20.7000,-105.2000,Container Inn Puerto Vallarta
1,567,Tototlan,MX,78.8,clear sky,20.5500,-102.8000,Los Batitos
2,436,Xico,MX,73.4,scattered clouds,19.2667,-98.9333,Posada Familiar
3,476,Acapulco,MX,84.2,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [34]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}&#8457</dd>

</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))