In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import API key
from config import g_key

In [2]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2021=01-28 20:04:08,71.9167,114.0833,-42.27,79,48,4.18
1,1,Adwa,ET,2021=01-28 20:04:08,14.1646,38.8955,56.44,38,0,2.59
2,2,Smidovich,RU,2021=01-28 20:04:08,48.6000,133.8167,-12.42,85,98,4.00
3,3,Puerto Ayora,EC,2021=01-28 20:04:08,-0.7393,-90.3518,84.20,70,20,13.80
4,4,Bluff,NZ,2021=01-28 20:04:09,-46.6000,168.3333,48.00,80,99,8.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [5]:
# get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [11]:
# Heatmap of temperature
# get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
# Get the maximum temperature
max_temp = city_data_df['Max Temp']
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# add the heat map layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent Humidity
# get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
# Get the maximum temperature
humidity = city_data_df['Humidity']
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# add the heat map layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of cloudiness
# get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
# Get the maximum temperature
cloudiness = city_data_df['Cloudiness']
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
# add the heat map layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of temperature
# get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
# Get the maximum temperature
wind = city_data_df['Wind Speed']
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# add the heat map layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add minimum and maximum temperature value.
min_temp = float(input("What is the mimimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the mimimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [22]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <=max_temp) & \
                                       (city_data_df["Max Temp"] >=min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Puerto Ayora,EC,2021=01-28 20:04:08,-0.7393,-90.3518,84.20,70,20,13.80
5,5,Tondano,ID,2021=01-28 20:04:09,1.3038,124.9112,75.20,100,40,1.14
6,6,Grand Gaube,MU,2021=01-28 20:04:09,-20.0064,57.6608,78.01,80,1,3.00
7,7,Faanui,PF,2021=01-28 20:02:15,-16.4833,-151.7500,81.43,68,84,8.79
10,10,Mar Del Plata,AR,2021=01-28 20:04:10,-38.0023,-57.5575,82.40,44,75,8.05
14,14,Vaini,TO,2021=01-28 20:02:00,-21.2000,-175.2000,77.00,100,90,21.85
15,15,Chapada Dos Guimaraes,BR,2021=01-28 20:04:11,-15.4606,-55.7497,80.60,78,75,2.30
16,16,Kieta,PG,2021=01-28 20:02:42,-6.2167,155.6333,81.05,82,100,12.55
17,17,Rikitea,PF,2021=01-28 20:03:02,-23.1203,-134.9692,79.30,69,91,3.94
23,23,Namatanai,PG,2021=01-28 20:04:12,-3.6667,152.4333,79.68,80,93,4.59

In [23]:
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182 entries, 3 to 604
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     182 non-null    int64
 1   City        182 non-null    object
 2   Country     182 non-null    object
 3   Date        182 non-null    object
 4   Lat         182 non-null    float64
 5   Lng         182 non-null    float64
 6   Max Temp    182 non-null    float64
 7   Humidity    182 non-null    int64
 8   Cloudiness  182 non-null    int64
 9   Wind Speed  182 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 15.6+ KB

In [30]:
# Create new hotel dataframe
hotel_df = preferred_cities_df[['City', 'Country', 'Lat', 'Lng', 'Max Temp']].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head()

             City Country      Lat       Lng  Max Temp Hotel Name
3    Puerto Ayora      EC  -0.7393  -90.3518     84.20
5         Tondano      ID   1.3038  124.9112     75.20
6     Grand Gaube      MU -20.0064   57.6608     78.01
7          Faanui      PF -16.4833 -151.7500     81.43
10  Mar Del Plata      AR -38.0023  -57.5575     82.40

In [35]:
# Set params
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to the location key for the params dictionary
    params['location'] = f'{lat},{lng}'
    # Use the search term: "lodging" and our lat and long.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [36]:
hotel_df.head(10)

,City,Country,Lat,Lng,Max Temp,Hotel Name
3,Puerto Ayora,EC,-0.7393,-90.3518,84.20,Castillo Galapagos
5,Tondano,ID,1.3038,124.9112,75.20,Villa Bella
6,Grand Gaube,MU,-20.0064,57.6608,78.01,Veranda Paul et Virginie Hotel & Spa
7,Faanui,PF,-16.4833,-151.7500,81.43,Bora-Bora Pearl Beach Resort & Spa
10,Mar Del Plata,AR,-38.0023,-57.5575,82.40,Gran Hotel Mar del Plata
14,Vaini,TO,-21.2000,-175.2000,77.00,Keleti Beach Resort
15,Chapada Dos Guimaraes,BR,-15.4606,-55.7497,80.60,Pousada Morro Dos Ventos
16,Kieta,PG,-6.2167,155.6333,81.05,
17,Rikitea,PF,-23.1203,-134.9692,79.30,Pension Maro'i
23,Namatanai,PG,-3.6667,152.4333,79.68,Namatanai Hotel

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [44]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))