In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import API key
from config import g_key

In [2]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2021=01-28 20:04:08,71.9167,114.0833,-42.27,79,48,4.18
1,1,Adwa,ET,2021=01-28 20:04:08,14.1646,38.8955,56.44,38,0,2.59
2,2,Smidovich,RU,2021=01-28 20:04:08,48.6000,133.8167,-12.42,85,98,4.00
3,3,Puerto Ayora,EC,2021=01-28 20:04:08,-0.7393,-90.3518,84.20,70,20,13.80
4,4,Bluff,NZ,2021=01-28 20:04:09,-46.6000,168.3333,48.00,80,99,8.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [5]:
# get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [11]:
# Heatmap of temperature
# get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
# Get the maximum temperature
max_temp = city_data_df['Max Temp']
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# add the heat map layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent Humidity
# get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
# Get the maximum temperature
humidity = city_data_df['Humidity']
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# add the heat map layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of cloudiness
# get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
# Get the maximum temperature
cloudiness = city_data_df['Cloudiness']
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
# add the heat map layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of temperature
# get the latitude and longitude
locations = city_data_df[['Lat','Lng']]
# Get the maximum temperature
wind = city_data_df['Wind Speed']
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# add the heat map layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add minimum and maximum temperature value.
min_temp = float(input("What is the mimimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the mimimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [22]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <=max_temp) & \
                                       (city_data_df["Max Temp"] >=min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Puerto Ayora,EC,2021=01-28 20:04:08,-0.7393,-90.3518,84.20,70,20,13.80
5,5,Tondano,ID,2021=01-28 20:04:09,1.3038,124.9112,75.20,100,40,1.14
6,6,Grand Gaube,MU,2021=01-28 20:04:09,-20.0064,57.6608,78.01,80,1,3.00
7,7,Faanui,PF,2021=01-28 20:02:15,-16.4833,-151.7500,81.43,68,84,8.79
10,10,Mar Del Plata,AR,2021=01-28 20:04:10,-38.0023,-57.5575,82.40,44,75,8.05
14,14,Vaini,TO,2021=01-28 20:02:00,-21.2000,-175.2000,77.00,100,90,21.85
15,15,Chapada Dos Guimaraes,BR,2021=01-28 20:04:11,-15.4606,-55.7497,80.60,78,75,2.30
16,16,Kieta,PG,2021=01-28 20:02:42,-6.2167,155.6333,81.05,82,100,12.55
17,17,Rikitea,PF,2021=01-28 20:03:02,-23.1203,-134.9692,79.30,69,91,3.94
23,23,Namatanai,PG,2021=01-28 20:04:12,-3.6667,152.4333,79.68,80,93,4.59

In [23]:
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182 entries, 3 to 604
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     182 non-null    int64
 1   City        182 non-null    object
 2   Country     182 non-null    object
 3   Date        182 non-null    object
 4   Lat         182 non-null    float64
 5   Lng         182 non-null    float64
 6   Max Temp    182 non-null    float64
 7   Humidity    182 non-null    int64
 8   Cloudiness  182 non-null    int64
 9   Wind Speed  182 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 15.6+ KB